$cyan:#23daff;
$magenda:#ff18b3;
$hintBg:#3d3d3d;

.container{
    font-family: a-otf-gothic-bbb-pr6n,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $magenda;
    position: relative;
    .header{
        position: absolute;
        width:100%;
        z-index: 1;
        .logo
        {
            width: 15%;
            padding-top: 12px;
            padding-right: 0px;
            float:right;
        }
    }
    .visbody
    {
        background-color: #ffffff;
    }
    .contentsBody
    {
        display: flex;
        width: 100%;
        padding-top: ０px;
    }
    
    .footer{
    }
}



.hint
{
    font-size: 10pt;
    opacity: 0.6;
    p
    {
        border-radius: 5px;
        padding:5px;
        margin-bottom: 10px;
        background-color: $hintBg;
        color: #fefefe;
    }
    .date{
        font-size: 5pt;
    }
    .value{
        padding-top: 3px;
        outline: none;
        font-weight: 200;
        font-size: 7pt;
    }
}